/* azzeramento parametri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* formattazione generale */
body{
    background-color: black;
    font-family: "Lato", sans-serif;
}

/* formattazione header */
#main_header{
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 15px 5px 0 0;
    background-color: black;
}

#main_header .comandi{
    border-radius: 6px;
    font-size: 18px;
}

.fa-table{
    margin-right: 3px;
}

/* formattazione corpo pagina */
#mosaico{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-shrink: 0;
    height: calc(100vh - 180px);
    overflow-y: auto;
}

.webcam{
    width: 450px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;;
}

.webcam img{
    max-width: 100%;
}

.comandi{
    padding: 5px;
    color: white;
    background-color: rgba(107, 107, 107, 0.418);
    cursor: pointer;
}

#comandi_cam{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* formattazione footer */
footer{
    background-color: rgb(34 34 34);
    color: white;
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

footer .icona{
    cursor: pointer;
}

#gestione_chiamata{
    width: 50%;
}

.laterali{
    width: 10%;
    position: relative;
}

.audio_video{
    height: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

footer span{
    font-size: 14px;
}

.icona i{
    display: block;
    text-align: center;
    font-size: 35px;
}

#gestione_chiamata{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#schermo i{
    color: green;
}

#fine_riunione{
    color: red;
    background-color: rgb(74 74 74);
}

#fine_riunione div{
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
}